crds:
  enabled: false

# platform/observability/values.yaml
crds:
  enabled: false


fullnameOverride: kube-prom-stack

prometheus:
  prometheusSpec:
    retention: 7d
    scrapeInterval: 30s
    evaluationInterval: 30s
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
    storageSpec: {}   # (lab) no PV; add later if you want persistence

grafana:
  enabled: true
  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password

  service:
    type: ClusterIP

  # Useful default dashboards + plugins
  plugins:
    - grafana-piechart-panel

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
